<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daysout</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<p>You Can create new worklist dynamically with the Name You want by just "/nameOfList" in the Route.
</p>
<body>
